@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(60 0.8% 23.3%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(60 0.8% 23.3%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(60 0.8% 23.3%);

  --color-primary: hsl(282 56.9% 32.7%);
  --color-primary-foreground: hsl(0 0% 100%);

  --color-secondary: hsl(185 63.5% 47.3%);
  --color-secondary-foreground: hsl(0 0% 100%);

  --color-muted: hsl(220 30% 96.1%);
  --color-muted-foreground: hsl(220 1.3% 46.5%);

  --color-accent: hsl(185 59% 92.4%);
  --color-accent-foreground: hsl(282 56.9% 32.7%);

  --color-destructive: hsl(353 78.3% 54.9%);
  --color-destructive-foreground: hsl(0 0% 100%);

  --color-border: hsl(228 9.1% 89.2%);
  --color-input: hsl(228 9.1% 89.2%);
  --color-ring: hsl(282 56.9% 32.7%);

  --color-chart-1: hsl(12 76% 61%);
  --color-chart-2: hsl(173 58% 39%);
  --color-chart-3: hsl(197 37% 24%);
  --color-chart-4: hsl(43 74% 66%);
  --color-chart-5: hsl(27 87% 67%);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
